<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="smartglossa.com.htmltagslist">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Html_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Base_Activity"
            android:label="HTML TAGS">
        </activity>

        <activity
            android:name=".Head_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".LInk_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Meta_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Style_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Title_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Addr_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Article_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Aside_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Body_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Footer_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Hsix_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Header_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Hgroup_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Nav_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Section_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Blockquote_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Break_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Dd_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Div_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Dl_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Dt_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".FigCaption_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Figure_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Hr_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Li_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Main_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Ol_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".P_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Pre_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Ul_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".A_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Abbr_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".B_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Bdi_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Bdo_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Cite_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Code_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Del_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Dfn_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Em_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".I_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Ins_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Kbd_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Mark_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Q_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Rp_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Rt_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Ruby_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".S_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Samp_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Small_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Span_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Stong_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Sub_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Sup_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Time_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Var_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Wbr_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Caption_Activtiy"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Col_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Colgroup_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Table_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Tbody_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Td_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Tfoot_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Th_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Thead_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Tr_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Button_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Data_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Datalist_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Fileldlist_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Form_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Input_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Label_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Legand_Activity"
            android:label="HTML TAGS">
        </activity><activity
        android:name=".Meter_Activity"
        android:label="HTML TAGS">
    </activity>
        <activity
            android:name=".Optgroup_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Option_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Output_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Progress_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Select_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Textarea_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Embed_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Iframe_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Img_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Object_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
        android:name=".Param_Activity"
        android:label="HTML TAGS">
    </activity>
        <activity
            android:name=".Source_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Area_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Audio_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Map_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Track_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Video_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Detail_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Dialog_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Menu_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Summary_Activity"
            android:label="HTML TAGS">
        </activity>
        <activity
            android:name=".Canvas_main"
            android:label="HTML TAGS">
        </activity>
        <activity
        android:name=".Noscript_Activity"
        android:label="HTML TAGS">
    </activity>
        <activity
            android:name=".Script_Activity"
            android:label="HTML TAGS">
        </activity>
    </application>

</manifest>